body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
}

header {
    background: black;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: yellow;
}

.card {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

button {
    background: black;
    color: white;
    padding: 8px 15px;
    border: none;
    cursor: pointer;
}

button:hover {
    background: green;
}

.success {
    color: green;
    font-weight: bold;
}

.error {
    color: red;
    font-weight: bold;
}
.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.03);
}
button {
    transition: 0.3s;
}

button:hover {
    background: green;
    transform: scale(1.1);
}
.card {
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
